.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__left {
    width: 100%;
    margin-right: 20px;
}

.checkout__title {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}