.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
     font-size: 17px;
     font-weight: 750;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__info > button {
    background-color: #FF9E53;
    border: 1px solid;
    border-color:  #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    margin-top: 10px;
    color: #111;
}

.checkoutProduct__info > button:hover {
    background-color: #FE8324;
    border-color:  #a88734 #9c7e31 #846a29;
}