.header {
    background-color: #050a30 ;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}


.header__menuToggle {
    display: block;
    position: relative;
    margin-left: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.header__toggleLink {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    margin-top: 10px;
}

.header__toggleLink:hover {
    color: #FE8324;
}

.header__menuToggle > input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.header__menuToggle > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.header__menuToggle > span:hover {
    background-color: #FE8324 !important;
}

.header__menuToggle > span:first-child
{
    transform-origin: 0% 0%;
}

.header__menuToggle > span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

.header__menuToggle > input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.header__menuToggle > input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.header__menuToggle > input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.header__menuToggleMenu {
    height: 800px ;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header__menuToggleMenu > li {
    padding: 10px 0;
    font-size: 22px;
}

.header__menuToggle > input:checked ~ ul {
    transform: none;
}

.header__logo {
    width: 130px;
    object-fit: contain;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
}

.header__optionCart {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.header__cartCount {
    margin-left: 5px;
    margin-right: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 650;
}

.header__linK {
    color: white;
    text-decoration: none;
}

.header__linK:hover {
    color: #FE8324;
}

.header__search {
    display: flex;
    flex: 1; 
}

.header__searchInput {
    height: 12px;
    outline: none;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    align-items: center;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    margin-right: 50px;
    background-color: #FF9E53;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__searchIcon:hover {
    background-color: #FE8324;
}