.login {
    background-color: #050a30;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1.5px solid #FF9E53;
    background-color: white;
    border-radius: 3px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 3px;
    border: 1px solid;
}

.login__signInButton {
    background-color: #FF9E53;
    border: 1px solid;
    border-color:  #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.login__signInButton:hover {
    background-color: #FE8324;
    border-color:  #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border: 1px solid;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-color: darkgray;
    background-color: #e6eced;
}

.login__registerButton:hover {
    background-color: #d5ddde;
}
    
.login__logo {
    width: 200px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}