.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #FF9E53;
    border: 1px solid;
    border-color:  #a88734 #9c7e31 #846a29;
    border-radius: 3px;
}

.product > button:hover {
    background-color: #FE8324;
    border-color:  #a88734 #9c7e31 #846a29;
}