.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;    
    margin-bottom: -350px;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 80%;
    transition: .5s;
    overflow: hidden;
}

#goLeft {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 20%;
    background: none;
    border: none;
    outline: none;
    transition: .5s;
}

#goLeft:hover {
    background: rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

#goRight {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 20%;
    background: none;
    border: none;
    outline: none;
    transition: .5s;
}

#goRight:hover {
    background: rgba(0, 0, 0, 0.356);
    cursor: pointer;
}