.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
   margin-right: 5px; 
}

.subtotal > button {
    background-color: #FF9E53;
    border: 1px solid;
    border-color:  #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.subtotal > button:hover {
    background-color: #FE8324;
    border-color:  #a88734 #9c7e31 #846a29;
}